@charset "UTF-8";

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

/*PAGE TITLE*/
header > h1 {
    padding-top: 50px;
    font-size: 10vw;
    margin: 0px;
    font-variant: small-caps;
    font-family: 'Passion One';  
}

header > p {
    font-family: sans-serif;
    padding-bottom: 50px;
}

header > p > a, footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header > p > a:hover, footer > p > a:hover  {
    text-decoration: underline;
}

/*MAIN CONTENT*/
main {
    font-family: 'Sriracha';
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 1.5em;
    line-height: 2em;
    font-size: 3.5vw;
}

section.texto {
    padding-bottom: 2vh;
    padding-top: 2vh;
}

/*IMAGE SECTIONS*/
section.imagem > p {
    display: inline-block;
    color: white;
    padding: 100px;
    padding-left: 10px;
    background-color: rgba(31, 31, 31, 0.685);
    text-shadow: 1px 1px 0px black;;
    text-align: left;
    padding: 10px;
    padding-left: 5px;
    margin-left: 10px;
}

section#girassol {
    background-image: url(arquivos/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    box-shadow: inset 15px 15px 100px black;
}   

section#livro {
    background-image: url(arquivos/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    box-shadow: inset 15px 15px 100px black;
}

footer {
    background-color: black;
    color:white;
    text-align: center;
    font-family: sans-serif;
    padding: 10px 0px;
}
