@charset "UTF-8";

/*fonts*/
@font-face {
    font-family: 'titulo';
    src: url("arquivos/fontes/halloeuroboy.ttf") format("truetype");
}

@font-face {
    font-family: 'androidtitulo';
    src: url("arquivos/fontes/idroid.otf") format("opentype");
}

body {
    background-color: #84e0ad;
    overflow-x: hidden;
    overflow-y: scroll; 
}

header {
    background-image: linear-gradient(to bottom, #33b670, #1e4a32);
    padding: auto;
    margin: -32px -10px 0px -10px;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.466) 
}

header > h1{
    text-align: center;
    color: rgb(255, 253, 253);
    font-family: 'titulo';
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.37) ;
}

header > p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.39);
}

/*page title*/
#titulodapag {
    font-weight: normal;;
    font-size: 300%;
}

/*MENU*/
header > nav > a{
    margin-left: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header > nav > a:hover{
    color: #133020;
    background-color: #33b670;
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.5s;
}

/*main content*/
main {
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
    text-align: justify;
}

h1, h2{
    font-family: 'androidtitulo';
    color: rgb(0, 99, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.404);
}

/*h2 title*/
#titulosh2 {
    background-image: linear-gradient(90deg,rgb(181, 223, 181), white);
    padding-left: 5px;
}

p {
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 2em;
    text-indent: 2em;
    margin-top: 30px;
    margin-bottom: 30px; 
}

/*IMAGES */
#Bugdroid{
    margin: auto;
    display: block;
    width: 300px;
}

#irina-blok{
    width: 100%;
    margin: auto;
}

#dandroids{
    width: 100%;
    margin: auto;
}

/*VIDEO*/

#video {
    padding: 20px;
    background-color: #1b5b3a;
    margin-left: -20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#quersabermais {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em ;
    background-color: #2fa864;
    color: white;
    text-shadow: none;
    border-radius: 9px 9px 0px 0px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#listas{
    margin-top: -31px;
    background-color: #84e0ad;
    border-radius: 0px 0px 10px 10px;
}

#listas >ul{
    columns: 2;

}

#listas > p{
    padding: 10px;
}

footer > p{
    background-color: #133020;
    color: white;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;
    text-align: center;
}

